<div class="col s12 l4" ng-if="book.name">
      <div class="card sticky-action hoverable red lighten-4">
        <div class="card-content" style="min-height: 320px">

            <span class="card-title activator grey-text text-darken-4">{{book.name}}<i class="material-icons right">more_vert</i></span><br>
            <p>
            Gender : {{book.gender}}
            </p>
            <p>Culture : {{book.culture}}</p>
            <p ng-repeat="ally in book.aliases | limitTo : 3">Aliases : {{ally}}</p>
                      
        </div>

        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Born : {{book.born}}</p>
            <p>Died : {{book.born}}</p>
            <p>Father : <a ng-href="#/{{ book.father.replace('https://www.anapioficeandfire.com/api/','')}}">{{book.father}}</a></p>
        </div>

        <div class="card-action">
            <a ng-href="#/{{ book.url.replace('https://www.anapioficeandfire.com/api/','')}}">Click for more Info</a>
        </div>
      </div>
</div>